.home{
    position: relative;
    padding: 10px;
    left: 0px;
    top: 60px;
    float: right;
    width: calc(100% - 240px);
    /* height: 100vh; */
}
.videos{
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin:  0 20px;
    display: grid;
    /* grid-column: 2; */
    column-gap: 20px;
    row-gap: 25px;
    /* grid-template-columns: repeat(5, 1fr); */
}

.infinite-scroll-component__outerdiv{
    width: 100%;
    height: 100%;
}

.infinite-scroll-component {
    overflow:  inherit !important;
}