
/* sidebar styling */
.sidebar{
    position: relative;
    left: 0px;
    top: 60px;
    width: 240px;
    height: auto;
    padding: 0px 10px;
    float: left;
}

.sidebar .menu_1{
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.sidebar .menu_2{
    padding-top: 15px;
    border-bottom: 1px solid gray;
}

.sidebar .menu_1 .listItem{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px;
    /* margin-bottom: 15px; */
}

.sidebar .menu_1 .listItem:hover, .sidebar .menu_1 .listItem.activeMenu{
    /* background: theme('colors.themeBlack');; */
    background-color: rgba(255,255,255,0.1);
}

.sidebar .menu_1 .listItem .icon{
    font-size: 22px;
}

.sidebar .menu_1 .listItem .title{
    margin-left: 20px;
}

.sidebar .subscription{
    border-bottom: none;
}

.sidebar .subscription h4{
    padding: 10px 24px;
}