.videoPage {
    margin: 10px auto;
    width: 85vw;
}

.videoPartSection {
    width: 75%;
    max-width: 1200px;
}

.relatedVideosSection {
    width: 25%;
}

.videoPlayerIframe {
    border-radius: 13px;
}

.channelLogo img, .commentLogo img {
    width: 40px;
    height: 40px;
    max-width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}